@model EncuentaLasParejas_UI_ASP.ViewModels.ViewModelPartida
@using EncuentraLasParejas_UI_ASP.Models
@using EncuentaLasParejas_UI_ASP.ViewModels
@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <p>Intentos: @ViewModelPartida.Intentos</p>
    <p>Puntuacion: @ViewModelPartida.Puntuacion</p>
    <form method="post">
        @for (int posicion = 1; posicion < (Model.ListaCartasOptimizadas.Count + 1); posicion++)
        {
            <button type="submit" name="posicion" value="@posicion">
                <img src="@Model.ListaCartasOptimizadas[posicion-1].Imagen" width="180" height="250" />
            </button>
        }
    </form>
</body>
</html>

