
@{
    ViewData["Title"] = "Menu";
}

<html>
    <body>
        <form method="post">
            <div style="width: 800px; margin: 0 auto;">
                <h1 style="text-align: center; color: #1b6ec2;">Menu</h1>
                <div style="margin-top: 20px; text-align: center;">
                    <img src="https://i.ibb.co/nBwSC87/cartas-YFichas.png" width="300" height="300" />
                </div>
                <div style="margin-top:20px;text-align:center;">
                    <button type="submit" value="1" name="eleccionMenu" class="btn btn-primary button button4">PLAY</button>
                </div>
                <div style="margin-top: 20px; text-align: center;">
                    <button type="submit" class="btn btn-primary button button4" value="2" name="eleccionMenu">SCOREBOARD</button>
                </div>
            </div>
        </form>
    </body>
</html>
